
body{
		text-align: center;
		background-image: url("1.gif");
		background-repeat: no-repeat;
		background-size: 100%;
		background-blend-mode: exclusion;
	}

	.box{
		width: 400px;
		height: 500px;
		padding: 40px;
		text-align: center;
		background: #ABAB9B;
		margin-top: 150px;
		margin-left: 720px;
		position: absolute;
		opacity: 80%;
	}

	.box img{
		border-radius: 70%;
		width: 200px;
		height: 200px;
	}

	.box h2{
		color: red;
		text-align: center;
		font-size:30px;
		font-family: 	Algerian;
	}

	.box h3{
		color: #1F06D4;
		text-align: center;
		font-size: 25px;
	}

	.button {
  	background-color:#5216E8;
  	border: none;
  	color: #FFFF00;
  	padding: 8px 15px;
  	text-align: center;
  	text-decoration: none;
 	display: inline-block;
 	font-size: 25px;
 	font-family: 	Castellar;
 	}
     